/* 重置与基础 */
body, html {
  margin: 0;
  padding: 0;
  height: 100%;
  font-family: "Microsoft YaHei", sans-serif;
  background: url('../image/main-background.jpg') no-repeat center center/cover;
}

/* 顶部栏 */
.top-bar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: rgba(255,255,255,0.9);
  padding: 10px 40px;
  box-shadow: 0 2px 4px rgba(0,0,0,0.1);
}

.top-bar .left {
  display: flex;
  align-items: center;
}

.top-bar .logo {
  height: 50px;
  padding-right: 10px;
}

.top-bar .title {
  font-size: 18px;
  font-weight: 500;
  color: #666;
}

.top-bar .right a {
  text-decoration: none;
  color: #333;
  margin: 0 5px;
}

.top-bar .time {
  margin-left: 10px;
  color: #666;
  font-size: 14px;
}

/* 主体布局 */
.main {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  height: calc(100vh - 144px);
  padding-right: 100px;
}

/* 登录框 */
.login-box {
  background: rgba(255,255,255,0.95);
  border-radius: 10px;
  box-shadow: 0 4px 20px rgba(0,0,0,0.1);
  padding: 30px 40px 10px 40px;
  width: 320px;
}

.login-box h2 {
  margin: 0;
  color: #333;
  margin-bottom: 15px;
}

.sub-title {
  color: #777;
  margin-bottom: 20px;
}

/* 输入框 */
.input-group {
  position: relative;
  margin-bottom: 15px;
}

.input-group i {
  position: absolute;
  left: 10px;
  top: 50%;
  transform: translateY(-50%);
  color: #888;
}

.input-group input {
  width: 278px;
  padding: 10px 20px;
  border: 1px solid #ccc;
  border-radius: 5px;
  font-size: 15px;
  outline: none;
}

.input-group input:focus {
  border-color: #2b5cff;
}

/* 登录按钮 */
.login-btn {
  width: 100%;
  background: #1b2682;
  color: white;
  border: none;
  border-radius: 5px;
  padding: 10px;
  font-size: 16px;
  cursor: pointer;
  transition: 0.2s;
}

.login-btn:hover {
  background: #505899;
}

/* 底部链接 */
.links {
  display: flex;
  justify-content: space-between;
  margin-top: 10px;
}

.links a {
  font-size: 13px;
  color: #2b5cff;
  text-decoration: none;
}

.links a:hover {
  text-decoration: underline;
}

.error {
  color: red;
  font-size: 14px;
  text-align: center;
  margin-top: 10px;
}

/* 底部导航栏 */
.foot-bar {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  background: rgba(255,255,255,1);
  padding: 20px 40px;
  box-shadow: 0 2px 4px rgba(0,0,0,0.1);
}
.more a {
  font-size: 18px;
  color: #333;
  text-decoration: none;
}
.more a:hover {
  color: #666;
  text-decoration: underline;
}